<div class="row">
  <div class="column">
    <mat-form-field appearance="fill" style="padding: 10px">
      <mat-label>Выбор функции</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="changeFunctions($event)">
        <mat-option *ngFor="let func of functions" [value]="func.value">
          {{func.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="column" style = "display: flex; flex-direction: row; justify-content: flex-start">
    <ng-container [formGroup]="formGroupBeta4" *ngIf='(selected) === "Beta4"'>
      <div style = "margin-top: 3%">
        <mat-form-field appearance="fill">
          <mat-label>Альфа</mat-label>
          <input matInput
                 type="number"
                 formControlName="alpha">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Бета</mat-label>
          <input matInput
                 type="number"
                 formControlName="beta">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Минимум</mat-label>
          <input matInput
                 type="number"
                 formControlName="min">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Максимум</mat-label>
          <input matInput
                 type="number"
                 formControlName="max">
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container [formGroup]="formGroupNormal" *ngIf='(selected) === "Normal"'>
      <div style = "margin-top: 3%">
        <mat-form-field appearance="fill">
          <mat-label>Mu</mat-label>
          <input matInput
                 type="number"
                 formControlName="mu">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sigma</mat-label>
          <input matInput
                 type="number"
                 formControlName="sigma">
        </mat-form-field>
      </div>
    </ng-container>

  <div id="chart-demo" style = width:90%>
    <dx-chart
      palette="blue"
      [dataSource]="densityInfo"
      title="Плотность"
    >
      <dxi-series valueField="y" name="X"></dxi-series>
      <dxo-common-series-settings
        argumentField="x"
        type="stackedspline"
      >
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20"></dxo-margin>
      <dxo-common-axis-settings>
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-common-axis-settings>
      <dxo-legend verticalAlignment="top" horizontalAlignment="right">
      </dxo-legend>
      <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
        <dxo-label>
          <dxo-format type="decimal"></dxo-format>
        </dxo-label>
      </dxo-argument-axis>
      <dxo-point [visible]="false"></dxo-point>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>

    <dx-chart
      palette="blue"
      [dataSource]="cumulationInfo"
      title="Кумулятивный"
    >
      <dxi-series valueField="y" name="X"></dxi-series>
      <dxo-common-series-settings
        argumentField="x"
        type="stackedspline"
      >
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20"></dxo-margin>
      <dxo-common-axis-settings>
        <dxo-grid [visible]="true"></dxo-grid>
      </dxo-common-axis-settings>
      <dxo-legend verticalAlignment="top" horizontalAlignment="right">
      </dxo-legend>
      <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
        <dxo-label>
          <dxo-format type="decimal"></dxo-format>
        </dxo-label>
      </dxo-argument-axis>
      <dxo-point [visible]="false"></dxo-point>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>
  </div>


</div>
</div>

